---
title: My Blog
layout: home
author_profile: true
date: 2018-07-18T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.0"
  overlay_image: /assets/images/blogImage.jpg
  
excerpt: "Welcome to my blog"
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}